.btn-cancelar:hover{
    background-color: rgb(204, 10, 10);
    color:white
}

.btn-cancelar{
    background-color:white;
    border:none;
}

.pedido-cozinha{
    height: 55px;
    text-align: left;
    background-color:#e8e2e1;
    border: solid 1px black;
    width: 1170px;
    
}

.botao-cardapio{
    margin: 5px;
    height: 30px;
    width: 75px;
    background-color: #851106;
    color: #fff;
    
}
.botao-cardapio:hover{
    background-color: #242424;
    color: #fff;
}
.pedidos-lista{
    text-align: right;
}
.custom-select-cozinha{
    text-align: right;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    
}